[package]
name = "{{project_name}}"
version = "0.1.0"
authors = ["{{author_name}} <{{author_email}}>"]
edition = "2021"
description = "{{project_description}}"
rust-version = "{{msrv}}"

homepage = "https://github.com/natir/{{project_name}}"
repository = "https://github.com/natir/{{project_name}}"
documentation = "https://natir.github.io/{{project_name}}/{{project_name}}"

readme = "Readme.md"
license-file = "LICENSE"

[dependencies]

[dev-dependencies]

[[bench]]
